<h2>
  Ofertas

  <div *ngIf="imoveis">
    <h3>{{ imoveis.imovel }}</h3>
    <h4>{{ imoveis.preco }}</h4>
    <p>{{ imoveis.disponibilidade }}</p>
    <p>{{ imoveis.uf }}</p>
    <p>{{ imoveis.quantquartos }}</p>
    <p>{{ imoveis.dataInicio }}</p>
    <p>{{ imoveis.dataFim }}</p>
  </div>
</h2>

<h2>
  <div *ngIf="imoveis">
    <h3>{{ imoveis.imovel }}</h3>
    <h4>{{ imoveis.preco }}</h4>
    <p>{{ imoveis.disponibilidade }}</p>
    <p>{{ imoveis.uf }}</p>
    <p>{{ imoveis.quantquartos }}</p>
    <p>{{ imoveis.dataInicio }}</p>
    <p>{{ imoveis.dataFim }}</p>
  </div>
</h2>
