<h2>Lista de imoveis</h2>

<h2>
  Ofertas

  <div *ngFor="let imovel of imoveis">
    <p>Imovel: {{ imovel.imovel }}</p>
    <p>Localidade :{{ imovel.cidade }}</p>
    <p>Valor da Diaria: {{ imovel.preco }}</p>
    <p>Disponibilidade de aluguel :{{ imovel.disponibilidade }}</p>
    <p>Estado: {{ imovel.uf }}</p>
    <p>Quantidade de Quartos :{{ imovel.quantQuartos }}</p>
    <p>{{ imovel.dataInicio }}</p>
    <p>{{ imovel.dataFim }}</p>
    <p>////////////////////////</p>
  </div>
</h2>
