* {
  font-family: 'Roboto', Arial, sans-serif;
  color: #616161;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}

.container {
  display: flex;
  flex-direction: row;
}

router-outlet + * {
  padding: 0 16px;
}

/* Text */

h1 {
  font-size: 40px;
  font-family: 'Courier New', Courier, monospace;
  color: black;
}

h2 {
  font-size: 20px;
  font-family: 'Courier New', Courier, monospace;
  color: black;
}

h1,
h2 {
  font-family:"Amasis MT Pro Black";
  font-weight: lighter;
  font-size: 26px;
  color: #4124e3;
}

p {
  font-size: 14px;
}

/* Hyperlink */

a {
  cursor: pointer;
  color: #1976d2;
  text-decoration: none;
}

a:hover {
  opacity: 0.8;
}

/* Input */

input {
  font-size: 14px;
  border-radius: 2px;
  padding: 8px;
  margin-bottom: 16px;
  border: 1px solid #bdbdbd;
}

label {
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 4px;
  display: block;
  text-transform: uppercase;
}

/* Button */
.button,
button {
  display: inline-flex;
  align-items: center;
  padding: 8px 16px;
  border-radius: 2px;
  font-size: 14px;
  cursor: pointer;
  background-color: #c994ff;
  color: white;
  border: none;
}

.button:hover,
button:hover {
  opacity: 0.8;
  font-weight: normal;
}

.button:disabled,
button:disabled {
  opacity: 0.5;
  cursor: auto;
}

/* Fancy Button */

.fancy-button {
  background-color: white;
  color: #c994ff;
}

.fancy-button i.material-icons {
  color: #c994ff;
  padding-right: 4px;
}

/* Top Bar */

app-top-bar {
  width: 100%;
  height: 68px;
  background-color: #c994ff;
  padding: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

app-top-bar h1 {
  color: white;
  margin: 0;
}

/* Checkout Cart, Shipping Prices */

.cart-item,
.shipping-item {
  width: 100%;
  min-width: 400px;
  max-width: 450px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 16px 32px;
  margin-bottom: 8px;
  border-radius: 2px;
  background-color: #eeeeee;
}

/*Rodape*/

#container-rodape {
  background: blue;
  padding: 100px;
}

#rodape {
  width: 750px;
  margin: 0 auto;
  color: black;
}
footer {
  background: white;
  padding: 50px;
  font-family: 'Courier New', Courier, monospace;
  width: 750px;
  margin: 0 auto;
  color: black;
}
squat {
  width: 150;
  margin-left: 60px;
  font-family: 'Amasis MT Pro Black', Times, serif;
  margin-top: 10px;
  float: left;
  display: inline-block;
}
p{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;;
  color: black;
}
