<h1>Bem-vindo!</h1>


<div class="busca">
  <form [formGroup]="pesquisaForm" (ngSubmit)="(onSubmit)">
    <div class="squat">
      <label class="busca_cidade">
        Localização:<br />
        Para onde você vai?<br />
        <input
          type="text"
          id="cidade"
          name="cidade"
          #cidade
          formControlName="cidade"
        />
      </label>
    </div>

    <div class="squat">
      <label class="busca_cidade"
        >Check-in<br />
        Quando?<br />
        <input
          type="date"
          id="dataInicio"
          name="dataInicio"
          #dataInicio
          formControlName="dataInicio"
        />
      </label>
    </div>
    <div class="squat">
      <label class="busca_cidade"
        >Checkout<br />
        Quando?<br />
        <input
          type="date"
          id="dataFim"
          name="dataFim"
          #dataFim
          formControlName="dataFim"
        />
      </label>
    </div>
    <label>
      Informe quantas Pessoas: <br />
      <input
        type="text"
        id="numPessoas"
        name="numPessoas"
        #numPessoas
        formControlName="numPessoas"
      />
    </label>
    <button type="submit">Buscar</button>
  </form>
</div>
