<h1>Bem vindo!</h1>
<h2>Hospedagem AnySty</h2>

<div class="busca">
  <form>
    <div class="squat">
      <label class="busca_cidade">
        Localização:<br />
        Para onde você vai?<br />
        <input type="text" id="cidade" name="cidade" #imoveis />
      </label>
    </div>

    <div class="squat">
      <label class="busca_cidade"
        >Check-in<br />
        Quando?<br />
        <input type="date" id="dataInicio" name="dataInicio" #imoveis />
      </label>
    </div>
    <div class="squat">
      <label class="busca_cidade"
        >Checkout<br />
        Quando?<br />
        <input type="date" id="dataFim" name="dataFim" #imoveis />
      </label>
    </div>

    <input type="text" id="numPessoas" name="numPessoas" imoveis />
    <button type="button" (click)="getCep(cep.value)">Buscar</button>
  </form>
</div>
